HTTP_REQUEST_TIMEOUT_MS=5000

# Port on which the web server runs
SERVER_PORT=4242

# Stripe API keys - see https://stripe.com/docs/development/quickstart#api-keys
STRIPE_SECRET_KEY=sk_test...

# Required to verify signatures in the webhook handler.
# See README on how to use the Stripe CLI to test webhooks
STRIPE_WEBHOOK_SECRET=whsec_...

# App to target in the FusionAuth instance.
AUTH_FUSION_AUTH_APP_ID="e9fdb985-9173-4e01-9d73-ac2d60d1dc8e"
AUTH_BASE_URL="http://localhost:9011"
AUTH_CALLBACK_URL="http://localhost:3000/auth/callback"
AUTH_FUSION_AUTH_API_SECRET=""